/* style sheet for homepage */


/* style for main content */

main {
    margin: 0pt 8dvw;
}

#recents {
    height: fit-content;
}
    
#recents ul {
    display: flex;
    /* flex-wrap: wrap; */
    width: 90%;
    overflow-x: scroll;
}

#recents img {
    height: 30dvw;
}

main table {
    border-top: #FFFFFF2a 1px solid;
    border-left: #FFFFFF2a 1px solid;
    border-right: #0000002a 1px solid;
    border-bottom: #0000002a 1px solid;
    border-radius: 15pt;
    border-spacing: 5pt;
    box-shadow:  2px 2px 5px #000000aa,
                -2px -2px 5px #ffffff2a;
    text-align: center;
    width: fit-content;
    left: 50%;
    right: 50%;
    margin: auto;

}
main tr, td, th {
    padding: 5dvw;
}

main th {
    text-shadow:  2px 2px 10px #000000,
    -2px -2px 10px #ffffff2a;
}
main td{
    /* border: lightslategray 1px solid; */
    border-radius: 10pt;
    box-shadow:  0px 8px 22px #00000060,
    inset 0px -8px 22px #2b37459f;
}

