/* comment 1 */
/* comment 2 */


body {
	background-color: #1C1924;
	color: #AFC1D6;
	font-family: century gothic;
}

.topBar {
	background-color: red;
	height: 50pt;
	border-radius: 10px;
	width: 50%;
	margin: auto;
}

.topBarElem {
	text-decoration: none;
	border: cyan 2px solid;
	padding: 5% 10%;
}

.topbarElem:link{
	text-decoration: none;
}

.topBarLogo {
	border: black 2px solid;
	padding: 5px;
}

.topBar ul {
	list-style: none;
	display: flex;
	flex: auto;
}

#headLogo {
	height: 30pt;
}

#mainContent table, th, tr, td {
	border: 1px solid rgb(255, 255, 255);
	padding: 10pt;
}

#mainContent td, th {
	border-radius: 10px;
}

#mainContent table {
	border-radius: 20px;
}

