#navbar, #buttons {
	margin:1%;
	width:100%;
	/* font-family: century gothic; */
}
#buttons h1{
    font-size: 30pt;
}
#buttons li {
	display:inline;
	width:120px;
	float:left;
	margin-left:2%;
	border:1px solid #000;
}

#buttons a {
	display:block;
	padding:3%;
	text-decoration:none;
	background-color:#fff;
	color:rgb(147, 85, 185);
}

#buttons a:hover {
	background-color:rgb(147, 85, 185);
	color:#fff;
}

#mainContent table, tr, td {
	border: 1px solid rgb(0, 0, 0);
	border-radius: 2px;
}