#navbar {
	margin:1%;
	width:100%;
	/* font-family: century gothic; */
}
#navbar h1{
    font-size: 30pt;
}
#navbar li {
	display:inline;
	width:120px;
	float:left;
	margin-left:2%;
	border:1px solid #000;
}

#navbar a {
	display:block;
	padding:3%;
	text-decoration:none;
	background-color:#fff;
	color:rgb(147, 85, 185);
}

#navbar a:hover {
	background-color:rgb(147, 85, 185);
	color:#fff;
}